@import '../lib/theme.scss';

.section_divider {
    width: 100vw;
    margin-top: 50px;
    font-size: $xlg_font;
    text-align: center;
}

.main_container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    padding: 0 50px;
}

.main_img_container {
    flex: 2;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main_img {
    position: relative;
    margin-left: 20px;
    width: 23vw;
    height: 50vh;
}


.main_content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    h1 { 
        font-size: $xxlg_font; 
    }

    p {
        max-width: 600px;
        margin: 30px 0 70px 0;
    }
}

.appointment_btn {
    display: flex;
    justify-content: center;
    width: 100%;
}

.about_container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;

    & > div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
    }
}

.about_content {
    background-color: $secondary_color;
    height: 500px;
    margin-right: 50px;

    p {
        color: white;
        max-width: 600px;
    }
}

.pricing_container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_container {
    position: relative;
    width: 400px;
    height: 800px;
}

.location_container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.map_container {
    flex: 1;
    display: flex;
    justify-content: center;

    iframe {
        width: 700px;
        height: 500px;
        border: none;
    }
}

.location_content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}