@import '../lib/theme.scss';

.main_container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    padding: 0 50px;
}

.main_img_container {
    flex: 2;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main_img1, .main_img2, .main_img3, .main_img4 {
    position: relative;
    margin-left: 20px;
    width: 23vw;
    height: 50vh;
}

// .main_img1, .main_img3 {
//     margin-bottom: 100px;
// }

// .main_img2, .main_img4 {
//     margin-top: 100px;
// }

.main_content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    h1 { 
        font-size: $xxlg_font; 
    }

    p {
        max-width: 600px;
        margin: 30px 0 70px 0;
    }
}

.appointment_btn {
    display: flex;
    justify-content: center;
    width: 100%;
}