@import '../lib/theme.scss';

.background_container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.background {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.main_container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        font-size: $xxlg_font;
        margin: 20px 0;
    }
    h2 {
        font-size: $lg_font;
    }
    
    p {
        font-size: $md_font;
        font-weight: bold;
    }
}

.form_container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 200px;
    width: 300px;
}