@import '../lib/theme.scss';

.carousels_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carousels {
    position: relative;
    width: 35vw;
    height: 30vw;

    @include breakpoint(tablet) {
        width: 530px;
        height: 350px;
    }

    @include breakpoint(mobile) {
        width: 310px;
        height: 200px;
    }
}

.img {
    position: absolute;
}

.arrow_left, .arrow_right {
    cursor: pointer;
    width: 50px;

    @include breakpoint(mobile) {
        width: 25px;
    }
}

.arrow_left { 
    margin-right: 25px; 
    @include breakpoint(mobile) {
        margin-right: 5px;
    }
}
.arrow_right { 
    margin-left: 25px; 
    @include breakpoint(mobile) {
        margin-left: 5px;
    }
}