@import '../lib/theme.scss';

.container {
    position: fixed;
    z-index: 1;
    top: 50px;
    text-align: center;
    left: 50px;

    h1, .j {
        font-size: $xlg_font;   
        font-family: 'Open Sans', sans-serif;

        @include breakpoint(mobile) {
            font-size: $lg_font;
        }
    }
}

.j {
    color: $primary_color;
}