@import '../lib/theme.scss';

.nav_container {
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    padding: 50px;
    
    ul {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    li {
        list-style: none;
        font-size: $md_font;
    }
}