@import './lib/theme.scss';

html,
body {
  color: $secondary_color;
  font-family: 'Poppins', sans-serif;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: $base_font;
  overflow-x: hidden;
  scroll-behavior: smooth;

  @include breakpoint(mobile) {
    font-size: 16px;
  }
}

button {
  cursor: pointer;
  border: none;
  background-color: $primary_color;
  font-size: inherit;
  padding: 10px;
  color: white;
  border-radius: 5px;
  font-family: inherit;
  letter-spacing: inherit;

  &:hover {
    background-color: transparent;
    color: $primary_color;
    transition: 0.5s;
  }
}

input {
  padding: 5px;
  font-size: $md_font;
  border: 3px solid white;
  border-radius: 5px;
  background-color: transparent;
  color: white;
  text-align: center;

  &::placeholder {
    text-align: center;
    color: white;
  }

  &:focus {
    outline: none;
  }
}
