@import './lib/theme.scss';

html,
body {
  color: $secondary_color;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.1em;
  font-weight: bold;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: $base_font;
  overflow-x: hidden;
}

button {
  cursor: pointer;
  border: 2px solid $primary_color;
  background-color: transparent;
  padding: 5px;
  color: $primary_color;

  &:hover {
    background-color: $primary_color;
    color: white;
    transition: 0.5s;
  }
}

input {
  padding: 5px;
  font-size: $md_font;
  border: 3px solid white;
  border-radius: 5px;
  background-color: transparent;
  color: white;
  text-align: center;

  &::placeholder {
    text-align: center;
    color: white;
  }

  &:focus {
    outline: none;
  }
}
